body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #333; 
    overflow: hidden;
}

.container {
    background-color: #222; 
    padding: 20px; 
    border-radius: 8px; 
}

.shape {
    position: relative;
    width: 150px; 
    height: 150px; 
    transform-origin: center center;
    
}

.plane {
    position: absolute;
    transform-origin: bottom center;
    backface-visibility: hidden; 
}

.top {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #ADD8E6;
    left: 25px; 
    top: 0;
}

.left-top {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 75px solid #87CEEB; 
    transform: rotate(-45deg);
    top: 10px;
    left: -30px;
}

.right-top {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid #20B2AA; 
    transform: rotate(45deg);
    top: 10px;
    right: -30px;
}

.left-bottom {
    width: 75px;
    height: 75px;
    background-color: #6495ED; 
    transform: skewX(-45deg) translateY(-20px);
    bottom: 0;
    left: -15px;
}

.right-bottom {
    width: 75px;
    height: 75px;
    background-color: #008080;
    transform: skewX(45deg) translateY(-20px);
    bottom: 0;
    right: -15px;
}

